Source: python-zeobuilder
Section: science
Priority: extra
Maintainer: Toon Verstraelen <Toon.Verstraelen@UGent.be>
Build-Depends: cdbs (>= 0.4.43), debhelper (>= 5), python (>= 2.4),
 python-support (>= 0.5.3)
Standards-Version: 3.7.2

Package: python-zeobuilder
Architecture: all
Depends: ${python:Depends}, ${shlibs:Depends}, 
 python-molmod (>= 0.001), python-comthread (>= 0.001),
 python-iterative (>= 0.001), python-conscan (>= 0.001), 
 python-gtk2 (>= 2.8.6), python-opengl (>= 2.0.1), python-numpy (>= 1.0.1),
 python-gtkglext1 (>= 1.1.0)
Suggests: python-matplotlib (>= 0.87), python-mysqldb (>= 1.2.1)
Description: Zeobuilder is an extensible GUI-toolkit for molecular
 model construction. 
